/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Setting type with a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/

html {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.2222222222 */
  /* Border for footer */
  border-bottom: 2.222222222222222em solid #88BBD6; /* 40/18 = 2.222222222222222 \ 40 = 11 + 18 + 11  */
}

body {
  padding-top: 3.667em; /* 66 / 18 = 3.667... */
  padding-right: 1.222em; /* 22 / 18 = 1.2222222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222222 */
  background-color: #E9E9E9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 1.222em; /* 22 / 18 = 1.2222222222 */
}
h1 {
  font-size: 2.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}
h2 {
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  line-height: 1.032em; /* 33 / 31.984 = 1.032 */
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}

/* ordered and unordered list */
ol, ul {
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}
ol {
  list-style-type: none;
}
ul {
  list-style-type: square;
  font-weight: normal;
  text-decoration: none;
}
/* nested list */
li ol,
li ul {
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-left: 1.22em; /* 22 / 18 = 1.2222222222 */
  padding-bottom: 0;
}
li ol {
  list-style-type: none;
  font-weight: bold;
}

/* nested list within nested list */
li li ol {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
}
/* nested list within nested list within nested list */
li li li ol {
  list-style-type: none;
  font-weight: normal;
}
/* list item */
li {
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}
li li:last-child,
aside,
img,
video,
figure,
figcaption {
  padding-bottom: 0;
}
/* Responsive Media */
img,
video,
audio {
  display: block;
  max-width: 100%;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
}
aside,
figcaption,
footer {
  font-size: 0.75em; /* 13.503px / 18 = 0.75em */
  line-height: 1.037em; /* 14px / 13.503 = 1.0368em */
  padding-top: 0.815em; /* 11 / 13.503 = 0.81463*/
}
code {
  width: auto;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/
#background h3 {
  font-weight: bold;
}
#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* Links */

/* Style links outside of project pages */
a[href*="http"] {
  color: #52658F;
  text-decoration: none;
}
#navigation li {
  float: left;
  width: 33.3333333333%;
}
#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
  text-align: center;
  text-decoration: none;
  background-color: #88BBD6;
  color: #CDCDCD;
}
#crystal {
  padding-top: 1.222em; /* 22 / 18 = 1.2222222222 */
}
#otherhead,
#merch {
  padding-top: 1.222em; /* 22 / 18 = 1.2222222222 */
}
#footer {
  border-top: 0.222em solid #99D3DF;  /* 4 / 18 = .22222 */
  padding-top: 0.815em; /* 11 / 13.503 = 0.81463*/
}
/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/
#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
}

/* Center align headings */
#res,
#qual,
#code,
.title {
  text-align: center;
}

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/
#navigation a:hover {
  background-color: #FFFFFF;
}
/* When page active, styling added to link on page */
#home #nav-me a,
#resume #nav-res a,
#background #nav-back a {
  color: #000000;
  background-color: #99D3DF;
}
@media screen and (min-width: 375px) {
  body {
    padding-right: 11.73333333%; /* 44 / 375 = 11.73333333% */
    padding-left: 11.73333333%; /* 44 / 375 = 11.73333333% */
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 1.25em; /* 20 / 16 = 1.25em */
  }
}

@media screen and (min-width: 860px) {
  /*
  For About Me page:
    700 pixel grid w/ 80px margins (160)
    Columns: 300px;
    Gutters: 100px;
  */
  #home img,
  #home video {
    width: 75%;
  }
  #home body {
    padding-right: 9.302325581%; /* 80 / 860 = 0.09302325581 */
    padding-left: 9.302325581%; /* 80 / 860 = 0.09302325581 */
  }
  #home #content {
    width: 42.857143%; /* 300 / 700 = 0.42857143 */
    float: left;
  }
  #home #content2 {
    width: 42.857143%; /* 300 / 700 = 0.42857143 */
    margin-left: 14.285714%; /* 100 / 700 = 0.14285714 */
    float: right;
  }
  #home #others {
    clear: left;
  }

  /*
  For Resume page: */
  #resume html {
    font-size: 1.5em; /* 24 / 16 = 1.5em */
  }
  #resume body {
    padding-right: 11.6279069767442%; /* 100 / 860 = 0.116279069767442 */
    padding-left: 23.2558139534884%; /* 200 / 860 = 0.116279069767442 */
    width: 50%;/* 280 /560 = 0.5 */
  }
  /*
  For Background page:
    760 pixel grid w/ 50px margins (100)
    Columns: 200px;
    Gutters: 10px;
    First module: 300px;
    Second and third module: 200px;
  */
  #background body {
    padding-right: 5.8139534883721%; /* 50 / 860 = 0.058139534883721 */
    padding-left: 5.8139534883721%; /* 50 / 860 = 0.058139534883721 */
  }

  #background #content {
    width: 39.4736842105263%; /* 300 / 760 = 0.394736842105263 */
    float: left;
  }
  #background #supporting {
    width: 28.9473684210526%; /* 220 / 760 = 0.289473684210526 */
    margin-left: 1.3157894736842%; /* 10 / 760 = 0.013157894736842 */
    float: left;
  }
  #background #supporting2 {
    width: 28.9473684210526%; /* 220 / 760 = 0.289473684210526 */
    margin-left: 1.3157894736842%; /* 10 / 760 = 0.013157894736842 */
    float: right;
  }

  #footer {
    clear: both;
  }
}
